<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET RESCUE CLUB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <div class="header">
        <ul>

            <li><a href="index.html"><h2>Home</h2></a></li>
            <li><a href="about.html"><h2>About</h2></a></li>
            <li><a href="findpet.html" target="_blank"><h2>Find a pet</h2></a></li>
            <li><a href="discover.html"><h2>Discover</h2></a></li>
            <li><a href="contact.html"><h2>Contact</h2></a></li>
            <li style="float: right;"><a href="login.html"><h2>Login/Register</h2></a></li>

        </ul>
    </div>

    
<!-- about contents -->
    <div class="a-one">
        <h2>About Us</h2>
        <div class="a-one1">
            <img src="../static/about-one.png" alt="dog in shelter">
        </div>

        <div class="a-one2">
            <p><span class="name">The Pet Rescue Club</span> was founded when a group of dedicated animal lovers came together with vision of simplifying the adoption process and connecting sheltered animals with caring home.</p>
        </div>
    </div>

    <div class="a-two">
        <div class="a-one2">
            <p>Founded in 2024.<span class="name">The Pet Rescue Club</span> is the India's largest network of fully vaccinated pets listed by out trusted shelter partners.</p>
            <p>Together, let's create a world where every pet has a lovinf and forever home.</p>
        </div>
        <div class="a-one1">
            <img src="../static/about-two.png" alt="dog in shelter">
        </div>

    </div>


    <div class="inspiration">
        <h2>Inspiration</h2>
        <div class="insp1">
            <img src="../static/inspiration.png" alt="person taking care of dog">
        </div>

        <div class="insp2">
            <p>We draw inspiration from the tireless efforts of animal welfare organizations, volunteers, and compassionate individuals who work towards ensuring the well-being of animals in need.</p>
            <br>
            <p>We are honored to collaborate with these organizations, bringing their adoptable pets into the spotlight, increasing their chances of finding their forever homes.</p>
            <br>
            <p>We believe in the power of adoption to create a lifelong bond of love and companionship.</p>
        </div>
    </div>


    <div class="footer">
        

        <img src="../static/footer.png" alt="footer" width="100%">
        <div class="content">

            <table class="footer-table">
                
                <tr>
                    <th><u>QUICK LINKS</u></th>
                    <th><u>ABOUT US</u></th>
                    <th><u>RESOURCES</u></th>
                    <th><u>Contact Us</u></th>
                </tr>
                
                <tr>
                    <td>
                        <a href="">Discover Adoption</a> <br>
                        <a href="">Donate</a> <br>
                        <a href="">Volunteer</a> <br>
                    </td>

                    <td>
                        <a href="">About Us</a><br>
                        <a href="">Terms & Conditions</a><br>
                        <a href="">Privacy Policy</a><br> 
                    </td>

                    <td>
                    <a href="">Breeds</a> <br>
                    <a href="">Feeding</a> <br>
                    <a href="">Health & Wellness</a> <br>
                    </td>

                    <td>
                        <p>112 Street, Hyderabad, Telangana India</p>
                        <p>+91 1234567890</p>
                        <p>xyz@example.com</p>
                    </td>

                </tr>
                        
            </table>

            <center>

                <div class="span-icon">

                    Connect with us online : 

                    <span><a href=""><img src="../static/icons/twitter.png" alt="twitter"></a></span>
                    
                    <span><a href=""><img src="../static/icons/linkedin.png" alt="linkedin"></a></span>
                    
                    <span><a href=""><img src="../static/icons/instagram.png" alt="instagram"></a></span>
                    
                    <span><a href=""><img src="../static/icons/facebook.png" alt="favebook"></a></span>
                    
                    <span><a href=""><img src="../static/icons/youtube.png" alt="youtube"></a></span>
                    
                    <span><a href=""><img src="../static/icons/whatsapp.png" alt="whatsapp"> /petrescueclub</a></span>
                    
                    <br> <br>

                    <img src="../static/icons/trade-mark.png" alt="trade mark"> 2024 <span class="name">The Pet Rescue Club</span>. All trademarks are owned by Pet Rescue Club, or used with permission.
                        
                </div>
            </center>
        </div>
    </div>

</body>
</html>