<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET RESCUE CLUB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="pet-aproval">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, nemo animi! Vitae, et maiores voluptatibus libero placeat maxime vel sint consequuntur nam excepturi esse soluta vero laboriosam non, doloremque sapiente!
    </div>

    <div class="reports">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae iste quas eligendi optio nulla unde veniam qui omnis, exercitationem sequi. Voluptate temporibus culpa, architecto sapiente iusto dolor quis labore eum.
    </div>

    <div class="messages">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia pariatur dolore sunt quas, corporis, delectus placeat nihil repellat impedit dicta iure labore eligendi voluptatum eveniet! Mollitia exercitationem officiis voluptate temporibus.
    </div>

</body>
</html>




