<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET RESCUE CLUB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="header" id="home">
        <ul>

            <li><a href="index.html"><h2>Home</h2></a></li>
            <li><a href="about.html"><h2>About</h2></a></li>
            <li><a href="findpet.html" target="_blank"><h2>Find a pet</h2></a></li>
            <li><a href="discover.html"><h2>Discover</h2></a></li>
            <li><a href="contact.html"><h2>Contact</h2></a></li>
            <li style="float: right;"><a href="login.html"><h2>Login/Register</h2></a></li>

        </ul>
    </div>


    <!-- connect with us -->

    <div class="connect">

        <div class="c1">
            <u><h1>Get In Touch</h1></u> <br>
            <p>Whether you have</p>
            <p><span class="name">Questions, FeedBack</span>, or need <span class="name">Assistance</span>,</p>
            <p>We Would love to hear from you!</p>
            <p>Our team is here to help.</p>
            <br>
            <img src="../static/icons/telephone.png" alt="call us"> +91-1234567890 <br>
            <img src="../static/icons/mail.png" alt="mail us"> petrescueclub@gmail.com <br>
            <img src="../static/icons/location.png" alt="location"> ABC, Hyderabad, Telangana
            <br> <br> 
            <img src="../static/icons/youtube.png" alt="youtube"> youtube/petrescurclub
            <br>
            <img src="../static/icons/twitter.png" alt="twitter"> twitter.com/petrescurclub
            <br>
            <img src="../static/icons/facebook.png" alt="facebook"> facebook.com/petrescueclub
            <br>
            <img src="../static/icons/instagram.png" alt="instagram"> instagram.com/petrescueclub
            <br>
        </div>

        <div class="c2">
            <form action="">

                <table>

                    <tr>
                        <td><label for="name">Name: </label></td>
                        <td><input type="text" name="name" id="name" placeholder="Full Name" required></td>
                    </tr>

                    <tr>
                        <td><label for="mail">Email: </label></td>
                        <td><input type="email" name="mail" id="mail" placeholder="Email" required></td>
                    </tr>

                    <tr>
                        <td><label for="msg">Message: </label></td>
                        <td><textarea name="msg" id="msg" rows="3" required placeholder="enter your thought"></textarea></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="Send Message" class="submit"></td>
                    </tr>
                </table>

                
            </form>
        </div>

    </div>

    
    <div class="footer">
        

        <img src="../static/footer.png" alt="footer" width="100%">
        <div class="content">

            <table class="footer-table">
                
                <tr>
                    <th><u>QUICK LINKS</u></th>
                    <th><u>ABOUT US</u></th>
                    <th><u>RESOURCES</u></th>
                    <th><u>Contact Us</u></th>
                </tr>
                
                <tr>
                    <td>
                        <a href="">Discover Adoption</a> <br>
                        <a href="">Donate</a> <br>
                        <a href="">Volunteer</a> <br>
                    </td>

                    <td>
                        <a href="">About Us</a><br>
                        <a href="">Terms & Conditions</a><br>
                        <a href="">Privacy Policy</a><br> 
                    </td>

                    <td>
                    <a href="">Breeds</a> <br>
                    <a href="">Feeding</a> <br>
                    <a href="">Health & Wellness</a> <br>
                    </td>

                    <td>
                        <p>112 Street, Hyderabad, Telangana India</p>
                        <p>+91 1234567890</p>
                        <p>xyz@example.com</p>
                    </td>

                </tr>
                        
            </table>

            <center>

                <div class="span-icon">

                    Connect with us online : 

                    <span><a href=""><img src="../static/icons/twitter.png" alt="twitter"></a></span>
                    
                    <span><a href=""><img src="../static/icons/linkedin.png" alt="linkedin"></a></span>
                    
                    <span><a href=""><img src="../static/icons/instagram.png" alt="instagram"></a></span>
                    
                    <span><a href=""><img src="../static/icons/facebook.png" alt="favebook"></a></span>
                    
                    <span><a href=""><img src="../static/icons/youtube.png" alt="youtube"></a></span>
                    
                    <span><a href=""><img src="../static/icons/whatsapp.png" alt="whatsapp"> /petrescueclub</a></span>
                    
                    <br> <br>

                    <img src="../static/icons/trade-mark.png" alt="trade mark"> 2024 <span class="name">The Pet Rescue Club</span>. All trademarks are owned by Pet Rescue Club, or used with permission.
                        
                </div>
            </center>
        </div>
    </div>

</body>
</html>