<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET RESCUE CLUB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="header" id="home">
        <ul>

            <li><a href="index.html"><h2>Home</h2></a></li>
            <li><a href="about.html"><h2>About</h2></a></li>
            <li><a href="findpet.html" target="_blank"><h2>Find a pet</h2></a></li>
            <li><a href="discover.html"><h2>Discover</h2></a></li>
            <li><a href="contact.html"><h2>Contact</h2></a></li>
            <li style="float: right;"><a href="login.html"><h2>Login/Register</h2></a></li>

        </ul>
    </div>


    <!-- discover content -->

    <div class="stat">
        <u><h1>Statistics & Facts</h1></u>
        <br><br>
        <div class="stat1">
            <h1>80 Million+</h1>
            <p>Total sheltered/street Dogs & Cats in India.</p>
        </div>
        <div class="stat2">
            <h1>Approx. 34%</h1>
            <p>Pet owners prefer Dogs as pet to adopt.</p>
        </div>
        <div class="stat3">
            <h1>Approx. 20%</h1>
            <p>Pet owners prefer Cats as pet to adopt.</p>
        </div>
        <div class="stat4">
            <h1>Only 60%</h1>
            <p>People have pets in India.</p>
        </div>
    </div>

    <div class="stat-foot">
        
        <h3>Millions of stray dogs and cats worldwide lack shelter, food, and owners.</h3>
        <p>Collective efforts are needed to address their needs. Together, we can create a better place for these animals.</p>
    </div>

    <!-- adoption -->

    <div class="adoption">
        
        <u><h1>Before Adoption</h1></u>
        <div class="d1">
            <div class="image">
                <img src="../static/d1.png" alt="d1">
            </div>
            <div class="con">
                <h3>Commitment</h3><br>
                <p>Adopting a pet requires a lifelong commitments like -</p> <br>
                1. Time Commitment <br>
                2. Financial Commitment <br>
                3. Lifestyle Adjustment <br>
                4. Long-Term Responsibility <br>
            </div>
        </div>

        <div class="d2">
            <div class="image">
                <img src="../static/d2.png" alt="d2">
            </div>
            <div class="con">
                <h3>Lifestyle Compatibility</h3><br>
                <p>Assess your lifestyle and choose a pet that suits your activity level, living situation, and family dynamics.</p> <br>
                <p>Consider factors like size, energy level, exercise requirements, and compatibility with children or other pets.</p>
            </div>
        </div>

        <div class="d1">
            <div class="image">
                <img src="../static/d3.png" alt="d3">
            </div>
            <div class="con">
                <h3>Time and Care</h3><br>
                <p>Evaluate the time and effort you can devote to a pet. Pets require daily care, including feeding, grooming, exercise, training, and companionship. Ensure you have the time and resources to meet their needs.</p>
            </div>
        </div>

        <div class="d2">
            <div class="image">
                <img src="../static/d4.png" alt="d4">
            </div>
            <div class="con">
                <h3>Training and Socialization</h3><br>
                <p>Be prepared to invest time and effort in training and socializing your pet. Proper training and socialization are crucial for their well-being, behavior, and integration into your family and community.</p>
            </div>
        </div>
        
        <br>

        <!-- after adoption -->
        <br>

        <u><h1>After Adoption</h1></u>
        <div class="d1">
            <div class="image">
                <img src="../static/d4.png" alt="d1">
            </div>
            <div class="con">
                <h3>Transition Period</h3><br>
                <p>Understand that your newly adopted pet may need time to adjust to their new environment. Provide a calm and safe space, gradually introduce them to your home, and establish a routine to help them settle in comfortably.</p>
            </div>
        </div>

        <div class="d2">
            <div class="image">
                <img src="../static/d6.png" alt="d2">
            </div>
            <div class="con">
                <h3>Veterinary Care</h3><br>
                <p>Schedule a visit to the veterinarian for health check-up, vaccinations, and to discuss any specific needs of your pet. Maintain regular veterinary visits for preventive care and address any health concerns promptly.</p>
            </div>
        </div>

        <div class="d1">
            <div class="image">
                <img src="../static/d7.png" alt="d3">
            </div>
            <div class="con">
                <h3>Nutritional Needs</h3><br>
                <p>Provide a balanced and appropriate diet for your pet's age, size, and health condition. Consult your veterinarian for dietary recommendations and feeding guidelines.</p>
            </div>
        </div>

        <div class="d2">
            <div class="image">
                <img src="../static/d8.png" alt="d4">
            </div>
            <div class="con">
                <h3>Exercise and Mental Stimulation</h3><br>
                <p>Ensure your pet receives regular exercise and mental stimulation. Engage them in play, interactive toys, and provide opportunities for social interaction with other animals.</p>
            </div>
        </div>
    </div>

    <!-- breed information -->

    <div class="breed">

        <u><h1>Breed Information</h1></u>
        <img src="../static/breed_Info.png" alt="breed-info">
        
        <br><br><br><br>

        <div class="know-dog">
            <a href="https://www.petfinder.com/dogs-and-puppies/breeds/" target="_blank">Know More</a>
        </div>

        <div class="know-cat">
            <a href="https://www.petfinder.com/cats-and-kittens/breeds/" target="_blank">Know More</a>
        </div>

    </div>


    <div class="footer">
        

        <img src="../static/footer.png" alt="footer" width="100%">
        <div class="content">

            <table class="footer-table">
                
                <tr>
                    <th><u>QUICK LINKS</u></th>
                    <th><u>ABOUT US</u></th>
                    <th><u>RESOURCES</u></th>
                    <th><u>Contact Us</u></th>
                </tr>
                
                <tr>
                    <td>
                        <a href="">Discover Adoption</a> <br>
                        <a href="">Donate</a> <br>
                        <a href="">Volunteer</a> <br>
                    </td>

                    <td>
                        <a href="">About Us</a><br>
                        <a href="">Terms & Conditions</a><br>
                        <a href="">Privacy Policy</a><br> 
                    </td>

                    <td>
                    <a href="">Breeds</a> <br>
                    <a href="">Feeding</a> <br>
                    <a href="">Health & Wellness</a> <br>
                    </td>

                    <td>
                        <p>112 Street, Hyderabad, Telangana India</p>
                        <p>+91 1234567890</p>
                        <p>xyz@example.com</p>
                    </td>

                </tr>
                        
            </table>

            <center>

                <div class="span-icon">

                    Connect with us online : 

                    <span><a href=""><img src="../static/icons/twitter.png" alt="twitter"></a></span>
                    
                    <span><a href=""><img src="../static/icons/linkedin.png" alt="linkedin"></a></span>
                    
                    <span><a href=""><img src="../static/icons/instagram.png" alt="instagram"></a></span>
                    
                    <span><a href=""><img src="../static/icons/facebook.png" alt="favebook"></a></span>
                    
                    <span><a href=""><img src="../static/icons/youtube.png" alt="youtube"></a></span>
                    
                    <span><a href=""><img src="../static/icons/whatsapp.png" alt="whatsapp"> /petrescueclub</a></span>
                    
                    <br> <br>

                    <img src="../static/icons/trade-mark.png" alt="trade mark"> 2024 <span class="name">The Pet Rescue Club</span>. All trademarks are owned by Pet Rescue Club, or used with permission.
                        
                </div>
            </center>
        </div>
    </div>



</body>
</html>