<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET RESCUE CLUB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="header" id="home">
        <ul>

            <li><a href="index.html"><h2>Home</h2></a></li>
            <li><a href="about.html"><h2>About</h2></a></li>
            <li><a href="findpet.html" target="_blank"><h2>Find a pet</h2></a></li>
            <li><a href="discover.html"><h2>Discover</h2></a></li>
            <li><a href="contact.html"><h2>Contact</h2></a></li>
            <li style="float: right;"><a href="login.html"><h2>Login/Register</h2></a></li>

        </ul>
    </div>


    <!-- login from -->

    <center>

        <div class="signup">
            <h2>Create Account</h2>

            <form action="">
                
                <table>

                    <tr>
                        <td> <label for="fname">First Name: </label></td>
                        <td><input type="text" name="fname" id="fname" required placeholder="first name"></td> 
                    </tr>

                    <tr>
                        <td> <label for="lname">Last Name: </label></td>
                        <td><input type="text" name="lname" id="lname" required placeholder="last name"></td> 
                    </tr>

                    <tr>
                        <td> <label for="email">Email : </label></td>
                        <td><input type="email" name="email" id="email" required placeholder="email"></td> 
                    </tr>
                    
                    <tr>
                        <td><label for="pass">Create password:</label></td>
                        <td><input type="password" name="pass" id="pass" required placeholder="password"></td>
                    </tr>

                    <tr>
                        <td><label for="pass">Confirm password:</label></td>
                        <td><input type="password" name="pass" id="pass" required placeholder="re-enter password"></td>
                    </tr>

                    <tr>
                        <td colspan="2"><input type="submit" value="Sign Up" class="log"></td>
                    </tr>

                </table>
                
            </form>

            <h3>Have an account <span class="login-link"><a href="login.html">Login now.</a></span></h3>
        </div>
            
    </center>



    <div class="footer">
        
        <img src="../static/footer.png" alt="footer" width="100%">

        <div class="content">

            <table class="footer-table">
                
                <tr>
                    <th><u>QUICK LINKS</u></th>
                    <th><u>ABOUT US</u></th>
                    <th><u>RESOURCES</u></th>
                    <th><u>Contact Us</u></th>
                </tr>
                
                <tr>
                    <td>
                        <a href="">Discover Adoption</a> <br>
                        <a href="">Donate</a> <br>
                        <a href="">Volunteer</a> <br>
                    </td>

                    <td>
                        <a href="">About Us</a><br>
                        <a href="">Terms & Conditions</a><br>
                        <a href="">Privacy Policy</a><br> 
                    </td>

                    <td>
                    <a href="">Breeds</a> <br>
                    <a href="">Feeding</a> <br>
                    <a href="">Health & Wellness</a> <br>
                    </td>

                    <td>
                        <p>112 Street, Hyderabad, Telangana India</p>
                        <p>+91 1234567890</p>
                        <p>xyz@example.com</p>
                    </td>

                </tr>
                        
            </table>

            <center>

                <div class="span-icon">

                    Connect with us online : 

                    <span><a href=""><img src="../static/icons/twitter.png" alt="twitter"></a></span>
                    
                    <span><a href=""><img src="../static/icons/linkedin.png" alt="linkedin"></a></span>
                    
                    <span><a href=""><img src="../static/icons/instagram.png" alt="instagram"></a></span>
                    
                    <span><a href=""><img src="../static/icons/facebook.png" alt="favebook"></a></span>
                    
                    <span><a href=""><img src="../static/icons/youtube.png" alt="youtube"></a></span>
                    
                    <span><a href=""><img src="../static/icons/whatsapp.png" alt="whatsapp"> /petrescueclub</a></span>
                    
                    <br> <br>

                    <img src="../static/icons/trade-mark.png" alt="trade mark"> 2024 <span class="name">The Pet Rescue Club</span>. All trademarks are owned by Pet Rescue Club, or used with permission.
                        
                </div>
            </center>
        </div>
    </div>

</body>
</html>